* {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #373737;
	height: 100%;
	min-height: 100%;
	overflow: scroll;
}

p {
	font-size: 1em;
	padding:3px;
}

input, input:hover {
	border: none;
	padding: 2px;
}

input[type=submit], input[type=reset]{
	padding: 5px;
	font-size: 1em;
	background-color: #dcd0c0;
	border-color: #dcd0c0;
}

input[type=submit]:hover, input[type=submit]:active, input[type=reset]:hover, input[type=reset]:active{
	color: white;
	cursor: pointer;
	padding: 5px;
}

textarea:focus, input:focus{
    outline: none;
    padding: 2px;
}

a, a:visited {
	text-decoration: none;
	transition: background-color 1.5s, color 1.5s;
}

.content a:hover {
	color: black;
	background-color: #E2E5FA;
}

.content a, a:visited{
	text-decoration: none;
	color: #373737;
}

h1, h2, h3, h4, h5, h6 {
	margin: 2%;
}

.content {
	padding: 20px;
	float: right;
	width: 70%;
	background-color: #f4f4f4;
	min-height: 100%;
}

.container {
	display: flex;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-between;

}

.item {
	font-size: 0.7em;
	margin: 0;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 20px
}

.movie-item {
	font-size: 0.7em;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

.search {
	text-align: center;
	margin: 20px auto;
}

.search form p, .search form input {
	font-size: 1em;
}
.nav a{
	color: white;
	text-decoration: none;
}
.nav {
	float: left;
	width: 20%;
	min-height: 100%;
	height: 100%;
	background-color: #373737;
}

.nav a:hover{
	color:white;
	background-color: #ababab;

}

.nav a:visited{
	text-decoration: none;
	color: white;
}

nav {
	margin: 0;
	color: white;
	list-style-type: none;
	background-color: #373737;
}


nav li {
	color: white;
	padding: 5px 10px;
	margin: 10px;
	background-color: #373737;
	text-overflow: wrap;
}

table {
	border-collapse: collapse;
	border: 1px solid #f4f4f4;
}

th{
	background-color: #c0b283;
	border: 1px solid #f4f4f4;
	color: white;
	padding: 3px;
	
}

td{
	background-color: #dcd0c0;
	color:#373737;
	padding: 3px;
	border: 1px solid #f4f4f4;
	
}